{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "jsx-quotes": ["error", "prefer-single"]
  }
}