.text-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  height: 40px;
  padding: 5px;
  background-color: white;
  color: gray;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.autocomplete-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 400px;
  height: 40px;
  padding: 5px;
  background-color: white;
  color: gray;
  margin-bottom: 5px;
  font-size: 1.2em;
}

.autocomplete-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 300px;
  height: 40px;
  padding: 5px;
  background-color: white;
  color: gray;
  font-size: 1.2em;
  margin: 0;
}